html,
body,
.music-cart-app {
  height: 100%;
}

.music-cart-app {
  display: flex;
  flex-direction: column;
}

.page-main {
  flex-grow: 1;
  padding: 30px 15px 45px;
}

h1 {
  margin-bottom: 40px;
}

h1 span {
  font-size: 0.75em;
}

.home-page-title {
  margin-top: 30px;
  font-size: 3.5rem;
}

.home-page-title i {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-style: normal;
}

/* form */
form label {
  margin-right: 8px;
}
form input {
  padding: 2px 5px;
}
form input[type='submit'] {
  margin-bottom: 10px;
  padding: 5px 10px;
}
